<appSettings>
  <add key="FASEMAIL" value="[email here]" />
  <add key="CHILDCAREEMAIL" value="[email here]" />
  <add key="CONNECTIONSTRING" value="[connection string here]" />
  <add key="SMTPSERVER" value="smtp server" />
  <add key="DEFAULTEMAIL" value="default e-mail" />
  <add key="ONBOARDING" value="folder location" />
</appSettings>
